# .gitignore
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.coverage
.coverage.*
htmlcov/
*.egg-info/
dist/
build/
*.so
*.log
*.pot
*.pytx

# Database
*.db
*.sqlite3

# Environment variables
.env

# Docker
.dockerignore

# IDE specific
.idea/
.vscode/

# Alembic (Optional: Add if you want to commit migrations)
# alembic/versions/

# Other
*.log
*.pot
*.pytx
*.tmp